.heroCity {
    position: relative;
    height: 1100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-image: url(assets/tokio.jpg); */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 8rem;
    width: 100%;
    filter: brightness(1);
}

.buttonBack{
    position: absolute;
    top: 80px;
}

.contentCity {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.contentCity>p {
    margin: 40px 0px;
    /* padding-right: 115px; */
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: white;
}

.containerItineraries {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noItineraries {
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.10);
    width: 80%;
    height: 500px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 70px 0px;
    background-color: #EBEBEB;
    border-radius: 10px;
}

.Itineraries {
    margin: 50px 0px;
    -webkit-box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.34);
}

.btn-Itineraries {
    width: 300px;
}

.containerDetails {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

@media (width < 700px) {
    .heroCity {
        padding: 1rem 2rem;
    }
}


@media (width < 450px) {
    .btn-Itineraries {
        width: 200px;
    }
}