.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 25px;
    display: flex;
    height: 600px;
    justify-content: center;
}

.carousel-inner {
    display: flex;
    transition: transform 0.3s ease;
}

.carousel-slide {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    flex-direction: column;
    /* height: 600px; */
    align-items: center;
}

.carousel-image {
    flex: 0 0 24%;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    /* padding: 5px; */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.carousel-container {
    /* max-width: 85%; */
    margin: 0 auto;
    margin-top: 35px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    max-width: 360px;
    max-height: 237px;
    object-fit: cover;
    border-radius: 10px;
}

.city-name {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.carousel-slide p {
    margin-top: -25px;
    font-size: 16px;
    font-weight: bold;
    /* margin-right: 250px; */
    color: white;
}

.carousel-btn {
    position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    /* padding: 5px; */
    /* background: rgba(0, 0, 0, 0.5); */
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: black;
    transition: color 0.3s ease;
    border-radius: 50%;
}

.carousel-btn:focus {
    outline: 0 !important;
}

.carousel-btn.prev {
    left: -7px;
}

.carousel-btn.next {
    right: -7px;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

@media (width < 800px) {
    .carousel {
        height: 500px;
    }

}

@media (width < 600px) {

    .carousel-image {
        box-shadow: 0px 0px 00px 0px rgba(0, 0, 0, 0.75);
    }

    .carousel {
        height: 370px;
    }

    .carousel Button {
        height: 26px;
    }

}

@media (width < 400px) {
    .carousel-container {
        max-width: 100%;
    }

    .carousel {
        height: 360px;
    }

    .carousel Button {
        height: 26px;
    }

}