/* #root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
} */

header {
  width: 100%;
}

.hero {
  position: relative; 
  height: 500px;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-image: url('assets/sugar-loaf-pao-de-acucar-498931_1920.jpg'); 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 8rem;
  width: 100%;
}

.hero-background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
}

.content > p {
  margin: 40px 0px;
  /* padding-right: 115px; */
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: white;
}
.content > p {
  margin: 40px 0px;
  /* padding-right: 115px; */
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: white;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 1rem;
  }

  .nav-links li {
    margin-left: 0;
  }
}

@media (width< 850px) {
  .content {
    width: 100%;
  }

  .content > p{
    font-size: 20px;
  }
  .content > h1{
    font-size: 2.5rem;
  }
}


@media (width < 600px) {
  .hero{
      padding: 1rem 2rem;
  }
  .hero Button{
    width: 200px;
  }
}